apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
  labels:
    app: metallb
spec:
  project: default
  sources:
    - repoURL: https://metallb.github.io/metallb
      chart: metallb # 公式で定義されている chart の名前
      targetRevision: 0.15.3
      helm:
        releaseName: metallb # 自分がこの Helm リリースを識別するための名前
    - repoURL: https://github.com/a-takamin/ouchi-k8s.git
      targetRevision: main
      path: apps/metallb/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
