apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: storage
  namespace: argocd
  labels:
    app: storage
spec:
  project: default
  source:
    repoURL: https://github.com/a-takamin/ouchi-k8s.git
    targetRevision: main
    path: apps/storage/manifests
  destination:
    server: https://kubernetes.default.svc
    # PersistentVolume はクラスタスコープなので namespace は指定しない
    # ただし ArgoCD は namespace 必須なので default を指定
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
