apiVersion: v1
kind: Service
metadata:
  name: freshrss
  namespace: freshrss
  labels:
    app: freshrss
spec:
  type: NodePort
  selector:
    app: freshrss
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080  # ミニPCの30080番ポートでアクセス可能
    protocol: TCP
    name: http
