apiVersion: v1
kind: Service
metadata:
  name: freshrss
  namespace: freshrss
  labels:
    app: freshrss
  annotations:
    tailscale.com/expose: "true"
spec:
  type: ClusterIP # Tailscale で公開するので MetalLB は使わないことにした
  selector:
    app: freshrss
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
